extends layout.pug

block content
    .profiles
        ul
            li Matthew Copon
            li Lucas Tujan
            li Gelo Gonzales
            li Royce Benavidez

    .modules_used
        h2 Modules Used
        p ANO BA GINAMIT NATIN HAHAHA basta nasa package.json yun amputa