extends layout.pug

block content
    .about.container.my-5
      .row.text-center
        .col-md-3.col-sm-6.mb-4
          a(href="/user/68745c63b3b7c4dfd1832304")
            button.btn.about-btn
              img.profile-pic(src="images/royce-pfp.png", alt="Royce Benavidez")
              h3.mt-2 Royce Benavidez

        .col-md-3.col-sm-6.mb-4
          a(href="/user/68745bd5b3b7c4dfd1832300")
            button.btn.about-btn
              img.profile-pic(src="images/matthew-pfp.jpg", alt="Matthew Copon")
              h3.mt-2 Matthew Copon

        .col-md-3.col-sm-6.mb-4
          a(href="/user/68745c80b3b7c4dfd1832308")
            button.btn.about-btn
              img.profile-pic(src="images/gelo-pfp.jpg", alt="Gelo Gonzalez")
              h3.mt-2 Gelo Gonzalez

        .col-md-3.col-sm-6.mb-4
          a(href="/user/687398aa27441f9a930b2e6e")
            button.btn.about-btn
              img.profile-pic(src="images/nio-pfp.jpg", alt="Lucas Tujan")
              h3.mt-2 Lucas Tujan

    .about-box.text-center.my-4
      h2 Modules Used:
      h4 Bootstrap
      h4
