extends layout.pug
block content
     .content-box
        form(action="add" method="get" style="display: inline-block;")
            button.main-btn.mt-3(type="submit") Add Reservation
        form(action="edit" method="get" style="display: inline-block;")
            button.main-btn.mt-3(type="submit") Edit/Delete Reservations