extends layout.pug
block content
     .content-box
        a(href="/admin/add", class="main-btn admin mt-3", style="display: inline-block; text-decoration: none;") Add Reservation
        a(href="/admin/edit", class="main-btn admin mt-3", style="display: inline-block; text-decoration: none;") Edit/Delete Reservations
        if user && user.userType === 'Admin'
          a(href="/admin/users", class="main-btn admin mt-3", style="display: inline-block; text-decoration: none;") Edit/Delete Users