doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  header
    h1 LabAccess
    nav
      form
        .input_wrapper
          label(for="search_user")
          input(type="text" id="search_user" placeholder="search users")
      ul
        li
          a(href="/") Home
        li
          a(href="/about") About
        li
          a(href="/log-in") Log In

    block content