extends layout.pug

block content
    .login-container
      .image-panel
      .form-panel
        h1 Welcome!
        p Create your new laboratory account to access our facilities
        form(method="POST", action="/signup")
          .form-group
            input.name-input.form-control(type="text", placeholder="First Name", required)
          .form-group
            input.name-input.form-control(type="text", placeholder="Last Name", required)
          .form-group
            input.form-control(type="email", placeholder="Email Address", required)
          .form-group
            input.form-control(type="password", placeholder="Password", required)
          .form-group
            input.form-control(type="password", placeholder="Confirm Password", required)

          .form-check
            input.form-check-input(type="radio", name="role", id="facilitator", value="Lab Facilitator", required)
            label.form-check-label(for="facilitator") Lab Facilitator
          .form-check
            input.form-check-input(type="radio", name="role", id="student", value="Student")
            label.form-check-label(for="student") Student

          .submit-fields.mt-3
            .buttn
              button.btn.main-btn(type="submit") Sign Up
            p.signup.mt-2
              | Already have an account?  
              a(href="/login")    Login

