extends layout

block content
    .signup_block
        img#picture(src="")
        h1 Welcome!
        p Create your new laboratory account to access our facilities

        form
            .input_wrapper
