//- views/profiles.pug
extends layout
include mixins/_user.pug
block content
    //+logged_out_profile_display(profile, reservations) // Condition idk man
    +logged_profile_display(profile, reservations)